name: Auto Regenerate README

on:
  schedule:
    - cron: "0 */6 * * *"  # Runs every 6 hours (00:00, 06:00, 12:00, 18:00 UTC) 

jobs:
  regenerate-readme:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Grant permission to push changes to the repository

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    
    - name: Install dependencies
      run: pip install pytz
      
    - name: Run script
      run: python generate_readme.py

    - name: Pull the latest changes
      run: git pull origin main

    - name: Commit and push changes
      env:
        GIT_USER_NAME: ${{ secrets.GIT_USER_NAME }}
        GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
      run: |
        git config --global user.name "${{ env.GIT_USER_NAME }}"
        git config --global user.email "${{ env.GIT_USER_EMAIL }}"
        git add README.md
        git commit -m "Auto-regenerate README"
        git push
